<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benjamin McDonald - About Me </title>
</head>
<body>
    <!-- Inserted an image at the top of my site -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">

    <!-- Made some paragraphs with basic info -->
    <h1> Benjamin McDonald  </h1>
        <p>
            My name is Benjamin McDonald. I am from Midland Park, New Jersey.
            I am a Finance and Information Systems <strong> double major </strong>.
            I am also a senior, and I am <strong> very </strong> excited to graduate and start working.
            I currently do not have a job, but I am actively searching for one near my hometown.
        </p>

    <h2> Fun Facts </h2>
        <p>
            I enjoy working out, playing basketball, and hanging out with my friends.
            I <em> love </em> to go fishing. I will fish anywhere from local ponds to out at sea.
            I also <em> really </em> enjoy baking. My favorite thing to bake is either chocolate chip or oreo cheesecake cookies.
        </p>
    <!-- Using both orderd and unorderd lists to share info about myself -->
    <h2> Favorite Basketball Players </h2>
            <ul>
                <li> Lebron James </li>
                <li> Luka Doncic </li>
                <li> Nikola Yokic </li>
                <li> Domantis Sabonis </li>
            </ul>

    <h2> Favorite Foods </h2>
            <ol>
                <li> Hamburgers </li>
                <li> Pizza  </li>
                <li> Bagels </li>
                <li> Lobster </li>
            </ol>

    <h2> Past Courses </h2>
    <!-- Created a table to display past courses taken -->
            <table>
                <tr>
                    <th> Course </th>
                    <th> Semester </th>
                </tr>
                <tr>
                    <td> BMGT340 </td>
                    <td> Spring 2022</td>
                </tr>
                <tr>
                    <td> BMGT220 </td>
                    <td> Fall 2021</td>
                </tr>
                <tr>
                    <td> BMGT444 </td>
                    <td> Fall 2023 </td>
                </tr>
            </table>

    <!-- Created an unordered list that opens the hyperlinked sites in new tabs-->
    <h2> Favorite Websites </h2>
        <ul>
            <li> <a href="https://fantasy.espn.com/basketball/team?leagueId=443598171&teamId=4&seasonId=2024" target="_blank"> Fantasy Basketball </a> </li>
            <li> <a href="https://www.crunchyroll.com/" target="_blank"> Crunchyroll </a> </li>
        </ul>

    <p>
        To access the hello page please click <a href="/hello"> here </a>.
    </p>

</body>
</html>